doctype html
body
    div
        p
            b Hi #{data.user_name},

    br
    div
        p We have received a request to reset the password for your account.
        p Use following url to reset your password.
    p
        a(href=data.url) click here
    br
    p
        b Thanks,
    p Barcoding Team